## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [1]:
# imports
import pandas as pd
import os
import this

# listing the files in the directory to id the users table
os.listdir()

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

['main.ipynb',
 'posts_table.csv',
 'weather.ipynb',
 '.ipynb_checkpoints',
 'users_table.csv']

In [2]:
# creating a DataFrame
weather = pd.read_csv("../weather-raw.csv")

In [4]:
# checking
weather.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# checking the shape
weather.shape

(22, 35)

In [6]:
# checking the columns
weather.columns

Index(['id', 'year', 'month', 'element', 'd1', 'd2', 'd3', 'd4', 'd5', 'd6',
       'd7', 'd8', 'd9', 'd10', 'd11', 'd12', 'd13', 'd14', 'd15', 'd16',
       'd17', 'd18', 'd19', 'd20', 'd21', 'd22', 'd23', 'd24', 'd25', 'd26',
       'd27', 'd28', 'd29', 'd30', 'd31'],
      dtype='object')

In [7]:
# checking the dtypes
weather.dtypes

id          object
year         int64
month        int64
element     object
d1         float64
d2         float64
d3         float64
d4         float64
d5         float64
d6         float64
d7         float64
d8         float64
d9         float64
d10        float64
d11        float64
d12        float64
d13        float64
d14        float64
d15        float64
d16        float64
d17        float64
d18        float64
d19        float64
d20        float64
d21        float64
d22        float64
d23        float64
d24        float64
d25        float64
d26        float64
d27        float64
d28        float64
d29        float64
d30        float64
d31        float64
dtype: object

In [28]:
# creating function to check uniques
def i_am_unique(col):
    uniques = col.unique()
    if len(uniques) > 1:
        return f"{len(uniques)} uniques: {uniques}."

    else:
        return f"{len(uniques)} unique: {uniques}."

In [29]:
# checking uniques
weather.apply(i_am_unique)

id                                    1 unique: ['MX17004'].
year                                       1 unique: [2010].
month                11 uniques: [1 2 3 4 5 6 7 8 10 11 12].
element                          2 uniques: ['tmax' 'tmin'].
d1                               3 uniques: [nan 29.9 13.8].
d2                     5 uniques: [nan 27.3 14.4 31.3 16.3].
d3                     5 uniques: [nan 24.1 14.4 28.6 17.5].
d4                               3 uniques: [nan 27.2 12.0].
d5         9 uniques: [nan 32.1 14.2 29.6 15.8 27.0 14.0 ...
d6                               3 uniques: [nan 27.8 10.5].
d7                               3 uniques: [nan 28.1 12.9].
d8                               3 uniques: [nan 29.0 17.3].
d9                                          1 unique: [nan].
d10                              3 uniques: [nan 34.5 16.8].
d11                              3 uniques: [nan 29.7 13.4].
d12                                         1 unique: [nan].
d13                              3 uniques: [nan 29.8 16.5].
d14                    5 uniques: [nan 29.9 16.5 29.5 13.0].
d15                              3 uniques: [nan 28.7 10.5].
d16                              3 uniques: [nan 31.1 17.6].
d17                              3 uniques: [nan 28.0 17.5].
d18                                         1 unique: [nan].
d19                                         1 unique: [nan].
d20                                         1 unique: [nan].
d21                                         1 unique: [nan].
d22                                         1 unique: [nan].
d23                    5 uniques: [nan 29.9 10.7 26.4 15.0].
d24                                         1 unique: [nan].
d25                              3 uniques: [nan 29.7 15.6].
d26                              3 uniques: [nan 28.1 12.1].
d27          7 uniques: [nan 36.3 16.7 33.2 18.2 27.7 14.2].
d28                              3 uniques: [nan 31.2 15.0].
d29                    5 uniques: [nan 30.1 18.0 28.0 15.3].
d30                              3 uniques: [27.8 14.5 nan].
d31                              3 uniques: [nan 25.4 15.4].
dtype: object

In [26]:
# defining a function to check null values and null values %:
def null_cols(ds):
    """
    Checks whether the value in each field is missing (null) and return either 
    True or False for each field, totaling up the number of True values by column.

    Then does the same, but returns the value as a percentage. Useful to decide where 
    to drop.
    """
    
    return f"has {ds.isnull().sum()} NAN's, which is {round(ds.isna().mean().round(4) * 100, 2)}% of the Series."

In [27]:
weather.apply(null_cols)

id            has 0 NAN's, which is 0.0% of the Series.
year          has 0 NAN's, which is 0.0% of the Series.
month         has 0 NAN's, which is 0.0% of the Series.
element       has 0 NAN's, which is 0.0% of the Series.
d1         has 20 NAN's, which is 90.91% of the Series.
d2         has 18 NAN's, which is 81.82% of the Series.
d3         has 18 NAN's, which is 81.82% of the Series.
d4         has 20 NAN's, which is 90.91% of the Series.
d5         has 14 NAN's, which is 63.64% of the Series.
d6         has 20 NAN's, which is 90.91% of the Series.
d7         has 20 NAN's, which is 90.91% of the Series.
d8         has 20 NAN's, which is 90.91% of the Series.
d9         has 22 NAN's, which is 100.0% of the Series.
d10        has 20 NAN's, which is 90.91% of the Series.
d11        has 20 NAN's, which is 90.91% of the Series.
d12        has 22 NAN's, which is 100.0% of the Series.
d13        has 20 NAN's, which is 90.91% of the Series.
d14        has 18 NAN's, which is 81.82% of the Series.
d15        has 20 NAN's, which is 90.91% of the Series.
d16        has 20 NAN's, which is 90.91% of the Series.
d17        has 20 NAN's, which is 90.91% of the Series.
d18        has 22 NAN's, which is 100.0% of the Series.
d19        has 22 NAN's, which is 100.0% of the Series.
d20        has 22 NAN's, which is 100.0% of the Series.
d21        has 22 NAN's, which is 100.0% of the Series.
d22        has 22 NAN's, which is 100.0% of the Series.
d23        has 18 NAN's, which is 81.82% of the Series.
d24        has 22 NAN's, which is 100.0% of the Series.
d25        has 20 NAN's, which is 90.91% of the Series.
d26        has 20 NAN's, which is 90.91% of the Series.
d27        has 16 NAN's, which is 72.73% of the Series.
d28        has 20 NAN's, which is 90.91% of the Series.
d29        has 18 NAN's, which is 81.82% of the Series.
d30        has 20 NAN's, which is 90.91% of the Series.
d31        has 20 NAN's, which is 90.91% of the Series.
dtype: object

In [30]:
"""
So:
    â€” 'id' and 'year' contain no useful info, as they have only one entry each ('MX17004' and
    '2010') repectively;
    â€” The 9th month seems to be missing in 'month';
    â€” should, maybe, be split into two columns ('tmin' and 'tmax') and be treathed as bool;
    â€” d9, d18, d19, d20, d21, d22 and d24 only have nan's, so (since there's no 
    documentation on this dataset), they can be droped;
    â€” I just realized that from d1 to d31 it's the days of the month. Or, I should say, I 
    think they're the days of the month. So a better solution might be to fill with medians 
    or modes of that month;
    â€” maybe a reshape is in order? index being the days, and the columns being 'month', 'tmin' 
    and 'tmax' (not bools), with each entity being one day? Then I could reevaluate the 
    situation.
"""

"\nSo:\n    â€” 'id' and 'year' contain no useful info, as they have only one entry each ('MX17004' and '2010')\n    repectively;\n    â€” The 9th month seems to be missing in 'month';\n    â€” should, maybe, be split into two columns ('tmin' and 'tmax') and be treathed as bool;\n    â€” d9, d18, d19, d20, d21, d22 and d24 only have nan's, so (since there's no \n    documentation on this dataset), they can be droped;\n    â€” I just realized that from d1 to d31 it's the days of the month. Or, I should say, I \n    think they're the days of the month. So a better solution might be to fill with medians \n    or modes of that month. \n"